@unocss preflights;
@unocss default;

body {
  padding: 0;
  margin: 0;
  /* see https://semi.design/zh-CN/start/dark-mode */
  color: var(--semi-color-text-0);
  background-color: var(--semi-color-bg-0);
  display: block;
}

.background-svg {
  background-image: url("./assets/background.svg");
}

.rspress-scrollbar {
  scrollbar-gutter: stable;
}

.rspress-scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  transition: all 0.3s;
  background-color: var(--semi-color-nav-bg);
}

.rspress-scrollbar::-webkit-scrollbar-track {
  background: 0 0;
  background-color: var(--semi-color-nav-bg);
  width: fit-content;
}

.rspress-scrollbar::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
}

.rspress-scrollbar:hover::-webkit-scrollbar-thumb {
  background-color: var(--semi-color-fill-0);
  background-clip: content-box;
}

.rspress-scrollbar::-webkit-scrollbar-corner {
  background: 0 0;
}
